name: Ruby

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # See https://github.com/actions/runner-images
        os:
          [
            ubuntu-22.04,
            ubuntu-24.04,
            ubuntu-latest,
            macos-14,
            macos-15,
            windows-2022,
            windows-latest,
          ]
        # Use `rbenv install --list` to determine what stable ruby versions to test against.
        ruby: ["4.0"]

    steps:
      - uses: actions/checkout@v4

      - name: Set timezone on Linux
        if: contains(matrix.os, 'ubuntu')
        run: sudo timedatectl set-timezone 'America/New_York'

      - name: Set timezone on macOS
        if: contains(matrix.os, 'macos')
        run: sudo systemsetup -settimezone America/New_York

      - name: Set timezone on Windows
        if: contains(matrix.os, 'windows')
        run: tzutil /s "Eastern Standard Time"

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Update RubyGems
        run: gem update --system

      - name: Disable bundler frozen setting
        run: bundle config set frozen false

      - name: Install dependencies
        run: bundle install

      - name: Run tests
        run: bundle exec rake
